//tablet
@media screen and (min-width: 768px) {
  .footer {
  background-color: var(--footer-background);
  
  &__body {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
 
  }}

  .join__body{
     margin-left: 165px;
  }
  .address-wrapper{
    text-align: center;
    margin-left: 60px;

  }
  .address-wrapper > a:nth-child(1){
    display:inline;
  }
}

//DESKTOP

@media screen and (min-width: 1200px) {
.footer {
  background-color: var(--footer-background);
  
  &__body {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}
.address-wrapper {
  margin-left: 0;
}
}}
