@media screen and (min-width: 1200px) {
.footer {
  background-color: var(--footer-background);
  
  &__body {
  display: flex;
  align-items: baseline;
 
}
}}


.footer {
 background-color: var(--footer-background);
  
  &__body {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}}