@media screen and (min-width: 1200px) {
body {
  background-color: var(--clear-white);
  font-family: "Roboto", "Serif";
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 24px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}

.title {
	color: var(--title-text-color);
	margin-bottom: 50px;
	text-align: center;
	font-size: 36px;
}


.section{
  padding-top: 94px;
  padding-bottom: 94px;
}


.menu-list--current.link,
.menu-list--inactive.link,
.contact.link,
.contact-footer.link,
.portfolio-link {
  text-decoration: none;
}

.menu-list--current.link {
	text-decoration: none;
}
.menu-list--inactive.link {
	text-decoration: none;
}
.contact.link {
	text-decoration: none;
}
.contact-footer.link {
	text-decoration: none;
}
.portfolio-link {
	text-decoration: none;
}
}

h1 {
	margin: 0;
	padding: 0;
}
h2 {
	margin: 0;
	padding: 0;
}
h3 {
	margin: 0;
	padding: 0;
}
ul {
	p {
		margin: 0;
		padding: 0;
	}
}
img {
	display: block;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
	text-decoration: none;
}
.title {
	font-weight: 500;
	text-align: center;
	line-height: 1.17;
	color: var(--title-text-color);
	font-size: 28px;
	margin-bottom: 30px;
}